// =============================================================================
// HOME PAGE STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.tag-about-us,
.tag-brand {
  padding: $distance * 6 $distance * 3 $distance * 3;

  .post-header,
  .post-content {
    margin: 0;
    max-width: $post-box;
  }
}

.tag-brand {
  padding-bottom: $distance * 10;
}
// -----------------------------------------------------------------------------
