// =============================================================================
// GALLERY PAGE STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.post-template.tag-product {
  padding-top: $header-height;

  .content {
    min-height: $post-height;
    position: relative;

    > figure {
      @include inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      height: $site-box * .66;
      width: 100%;
    }
  }


  .post-content,
  .post-footer {
    padding: $distance * 3 $distance * 1.5;
    width: 100%;

    h4 {
      line-height: $line-height * 2;
    }
  }

  .post-footer {
    max-width: 100%;
    text-align: right;

    h6 {
      line-height: $line-height;
    }

    a {
      display: inline-block;
      font-size: $fsmall;
      margin-left: $distance / 2;
    }
  }
}
// -----------------------------------------------------------------------------
