// =============================================================================
// SITE MENU STYLES
// =============================================================================


// General styles
// -----------------------------------------------------------------------------
// Nav block
// -----------------------------------------------------------------------------
body > nav {
  background-color: $white;
  color: $black;
  height: $menu-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: $menu-width;
  z-index: $z-top + 1;


// Main content
// -----------------------------------------------------------------------------
  > ul {
    position: absolute;
    right: 0;
    text-align: right;
    top: $menu-height / 4; 
  }


// Type & texts ----------------------------------------------------------------
  li {
    display: inline-block;
    font-size: $fdef;
    font-weight: $bold;
    line-height: $menu-height / 2;
    list-style: none;

    &.nav-current {
      border: 1px solid;
    }


    > a {
      display: block;
      padding-left: $distance;
      padding-right: $distance;
    }
  }
// -----------------------------------------------------------------------------
}
// -----------------------------------------------------------------------------


// If nav is opened
// -----------------------------------------------------------------------------
.nav-opened > .nav ul {
  animation: menu-li-in .333s ease-out forwards;
  pointer-events: all;
}

.nav-opened > .nav {
  animation: menu-in .333s ease-out forwards;
}
// -----------------------------------------------------------------------------
